.container {
  display: flex;
  height: 100vh;
}
.container .banner {
  width: 73.96%;
}
.container .content {
  flex: 1;
  position: relative;
  padding-bottom: 40px;
}
.container .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.logo {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #f7f8fa;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.logo-svg {
  margin-left: 20px;
  width: 32px;
  height: 32px;
}
.logo-text {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-1);
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-inner {
  height: 100%;
  flex: 1;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.carousel {
  height: 100%;
  position: relative;
}
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.carousel-title {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-fill-1);
}
.carousel-sub-title {
  margin-top: 8px;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text-3);
}
.carousel-image {
  min-width: 100%;
}
.login-form-wrapper {
  position: relative;
  width: 320px;
  padding: 20px;
  background-color: #ffffff !important;
}
.login-form-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text-1);
  line-height: 32px;
}
.login-form-sub-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  color: var(--color-text-3);
}
.login-form-error-msg {
  height: 32px;
  line-height: 32px;
  color: rgb(var(--red-6));
}
.login-form-password-actions {
  display: flex;
  justify-content: space-between;
}
.login-form-register-btn {
  color: var(--color-text-3) !important;
}
