.viewDiv {
  height: 780px;
  width: 100%;
}
.actionButton {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border: none;
}
.actionButton:hover {
  background-color: #f3f3f3;
}
.actionButton.active,
.actionButton.active:hover,
.actionButton.active:focus {
  cursor: default;
  border: 2px solid #007ac2;
}
.actionButton.active path,
.actionButton.active:hover path,
.actionButton.active:focus path {
  fill: #e4e4e4;
}
